[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymkv = "*"
setuptools = "*"
pysrt = "*"
coloredlogs = "*"
azure-ai-translation-text = "*"

[dev-packages]

[requires]
python_version = "3.12"
